<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mirror.copy.ver1/src/mirror/copy/ver1/Copier.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mirror.copy.ver1.Copier"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="step1 -source C:/test/ -debug"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mirror.copy.ver1"/>
</launchConfiguration>
